<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailConfig" type="YK.FrameworkTools.EmailService.EmailConfiguration,YK.FrameworkTools.EmailService" />
  </configSections>
  <EmailConfig SystemEmail="yunkai@yun-kai.com" UserName="yunkai" Password="n+kSZXwiUumiIhd84fBLhg==" Smtp="mail-yk.yun-kai.com" Port="25" SingleFileSize="100m" AllFileSize="1000m"></EmailConfig>
</configuration>